footer {
    width: 100%;
    max-width: 1180px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer__wrap {
    font-size: 13px;
    border-top: 1px solid #666;
    padding-top: 30px;
    & ul {
        list-style: none;
        margin: 0 0 18px;
        padding: 0;
    }
    & a {
        color: #6D6E70;
    }
    & a:hover {
        color: #6D6E70;
        text-decoration: none;
    }
}

.footer__title a {
    font-weight: bold;
    color: #000000 !important;
}

.footer__copyrite {
    text-align: right;
    & ul {
        @media(max-width:576px) {
        text-align: center;
        margin: 15px 0 18px 0;
        }
    }
}
