
.home {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/table.png);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 83.33333%;
    max-width: 62%;
    justify-content: center;
  & h3 {
    font-size: 31px;
  }
  & h2 {
    font-size: 50px;
  }
}

.title{
    text-align: center;
    padding-top: 11%;
    color: #FFFFFF;
    line-height: 74px;
    font-style: normal;
}
