.menuLogo {
    text-align: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.language li {
    list-style-type: none;
}
.language {
    text-align: right;
    &__item li {
        display:inline-block;
    }
    &__item-ru {
        font-weight: bold;
    }
    &__item-ua a {
        color: #333;
    }
    &__item-ua a:hover {
        color: #333;
        text-decoration: none;
    }
}

.social {
    & ul {
        list-style-type: none;
        text-align: left;
        padding: 0;
    }
    & li {
        display: inline-block;
    }
    & a {
        color: #6D6E70;
    }
    & i {
        font-size: 1.1rem;
        padding: 0 5px;
    }
}

.social a:hover {
        color: #6D6E70;
    }


header {
    padding-top: 28px;
}

.container {
    width: 100%;
    max-width: 1180px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.homePage {
    & a:hover {
        text-decoration: none;
        color: #000;
    }
    & span {
        color: #000;
        font-size: 12px;
    }
}

