.navigation {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 30px;
    & ul {
        width: 100%;
        list-style-type: none;
        padding-top: 30px;
        padding-left: 0px;
        font-size: 11px;
        text-align: center;
        color: #000;
    }
    & li {
        padding: 0 20px;
        display: inline-block;
    }
    & li a:hover {
        text-decoration: none;
        color: #000;
    }
    & span {
        color: #000;
    }
}

