.portfolio {
    &__photo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 5;
        @media(max-width:768px) {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            }
    }
}

.buttonBox {
    position:relative;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 151px;
  }
  
  button {
    border: 1px solid #000000;
    color: inherit;
    background-color: transparent;

    font-family: "futura-demic-reg", Arial, sans-serif;
    font-size: 11px !important;
    font-style: normal;
    letter-spacing: .1em;
    padding: 7px 14px;
  }
  .buttonBox button:focus {
    outline: none;
    }

  .border{
      position:absolute;
      transition:all .5s ease-in-out;
  }

  #fourth>.border:nth-of-type(1){
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 0;
    top:0;
    background-color: #c7c4c5;
  }
  
  #fourth>.border:nth-of-type(2){
    content: "";
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    top: 0;
    background-color: #c7c4c5;
  }
  
  #fourth>.border:nth-of-type(3){
    content: "";
    bottom:0;
    right: 0;
    width: 0;
    height:0;
    background-color: #c7c4c5;
  }
  
  #fourth>.border:nth-of-type(4){
    content: "";
    bottom:0;
    left:0;
    width:0;
    height:0;
    background-color: #c7c4c5;
  }
  
  #fourth:hover .border:nth-of-type(1){
    width:100%;
  }
  
  #fourth:hover .border:nth-of-type(2){
    height:30px;
  }
  
  #fourth:hover .border:nth-of-type(3){
    width:100%;
  }
  
  #fourth:hover .border:nth-of-type(4){
    height:30px;
  }
  

.photo {
    flex: 0 0 31%;
    margin: 10px;
    @media(max-width:576px) {
        flex: 0 0 100%;
        max-width: 100%;
        }
    @media(max-width:768px) and (min-width:577px){
        flex: 0 0 31%;
        max-width: 100%;
        }
}

.allContent {
    padding: 0 60px;
    font-size: 14px;
    letter-spacing: .1em;
    @media(max-width:576px) {
        padding: 0;
        }

    & p {
        text-indent: 40px;
        line-height: 1.6em;
        font-family: "futura-demic-reg", Arial, sans-serif;
        font-style: normal;
        letter-spacing: .1em;
    }
    & h6 {
        border-bottom: 1px solid #ccc;
        padding-top: 40px;
        font-weight: bold;
        letter-spacing: 0.1em;
        @media(max-width:576px) {
            padding: 0;
            margin-top: 56px;
            }
    }
}

.image {
    min-height: 450px;
    width: 100%;
    position:relative;

    & img {
      min-height: 450px;
    width: 100%;
    position: relative;
    }
    @media(max-width:576px) {
        height: 370px;
        margin: 0;
        width: 100%;
        }
}

.portfolio .portfolio__photo .background {
    opacity: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.year {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 14px;
  color: black;
}

.background .title {
  position: relative;
  font-size: 14px;
  color: black;
  text-align: center;
  top: 50%;
}

.photo:hover .background{
    opacity: 1;
    transition: opacity .7s;
    display: block;
    color: #000000;
}

.image:hover {
    opacity: 0.3;
    transition: opacity .7s ease-out;
}

.portfolio .portfolio__photo a {
  text-decoration: none;
  color: #000000;
  align-items: center;
  text-align: center;
  position: relative;
  display: block;
}

