.project {
    position: relative;
    display: flex;
    padding: 84px 0 66px;
    background-color: #fff;
  &-content {
    width: 64%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.title__main {
    width: 80%;
    margin: auto;
  & h4 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    margin: 0;
  }
}

.title__second p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
}

.services__items {
    margin-top: 38px;
}

.services__item-context h2 {
    font-size: 18px;
    color: #000000;
    text-align:  center;
}

.services__item-context p {
    font-size: 14px;
    color: #999999;
    text-align:  center;
}

.services__items-wrap {
    display: flex;
    justify-content: center;
    margin: auto;
}

.services__item {
    display: flex;
    margin-right: 40px;
  &-context {
    padding: 0 10px;
    margin: 0;
  }
}

.logo__borders {
    border: 1px solid #E0E0E0;
    padding: 7px;
    border-radius: 50%;
}

.logo__border {
    border: 1px solid #4985FF;
    padding: 20px;
    border-radius: 50%;
}
